<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd" bootstrap="vendor/autoload.php" backupGlobals="false" processIsolation="false" colors="true">
    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">src/</directory>
        </include>
        <report>
            <clover outputFile="clover.xml"/>
            <html outputDirectory="coverage" lowUpperBound="35" highLowerBound="70"/>
            <text outputFile="php://stdout"/>
        </report>
    </coverage>
    <php>
        <ini name="error_reporting" value="E_ALL"/>
    </php>
    <testsuites>
        <testsuite name="FreeElephants Dependency Injection Unit Test Suite">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>
    <logging/>
</phpunit>
